@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F5F1C9, #F6D869);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #96937bd3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FAAB46;
    text-align: center;
    text-shadow: 1px 1px 2px #96682b;
}

h2 {
    color: #7FB882;
}

p {
    text-align: justify;
}